.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 6px;
  border-radius: 50%;
  overflow: hidden;
}

.iconSpan {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.dateStyle {
  color: #ffffff;
}

@media (max-width: 1169px) {
  .dateStyle {
    color: #cccccc;
  }
}
